<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>historial materiales</title>
</head>

<body>
	<div class="modal fade" id="modalHistoryMaterials" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg1">
					<div class="row">
						<h3 class="titulo">Historial materiales</h3>
					</div>
					<button type="button" class="close" onclick="hiddenMaterials()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="historyMaterials" method="post">
						<div class="form-group">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Fecha inicial</label>
							<input type="date" class="form-control" id="idAddMaterialsAmount" name="amount" required="required"
								maxlength="5">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Fecha final</label>
							<input type="date" class="form-control" id="idAddMaterialsObservation" name="observation" maxlength="90">
						</div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>