<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Editar ganado</title>
</head>

<body>
	<div class="modal fade" id="modalEditLivestock" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg1">
					<div class="row">
						<h3 class="titulo">Editar ganado</h3>
					</div>
					<button type="button" class="close" onclick="hiddenRegisterFood()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="editLivestock" method="post">
						<div class="form-group">
							<input type="hidden" class="form-control" id="idEditLivestockId" name="inventoryMaterialsId"
								required="required" readonly>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Nombre</label>
							<input type="text" class="form-control" id="idEditLivestockName" name="" readonly
								maxlength="20">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Nuevo nombre</label>
							<input type="text" class="form-control" id="idEditLivestockNewName" name="" required="required"
								maxlength="20">
						</div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script th:inline="javascript">

	$(document).on('submit', '#editLivestock', function (e) {
		e.preventDefault();
		var data = $(this).serialize();
		var mensajeRespuesta = "";
		$.ajax({
			type: 'POST',
			url: '/food/' + '',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.message;
			},
			error: function () {
				Swal.close();
			},
			complete: function (data) {
				Swal.close();
				Swal.fire({
					title: "¡Información!",
					text: mensajeRespuesta,
					icon: "warning",
					confirmButtonText: 'Aceptar',
					allowOutsideClick: () => false
				}).then((result) => {
					if (result.value) {
						$("#modalRegisterFood").modal('hide');
						$('#idTableFood').DataTable().clear().destroy();
						construirTablaComida();
					}
				}
				);
			}
		});

		return false;
	});

	function loadEditLivestock() {
		var data;
		$.ajax({
			type: 'GET',
			url: '/food/' + 'getAllFoodItems',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.msgRespuesta;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close();
				var select = document.getElementById("");
				for (let i = 0; i < data.responseJSON.object.length; i++) {
					let opcion = document.createElement('option');
					opcion.value = data.responseJSON.object[i].foodId;
					opcion.text = data.responseJSON.object[i].name;
					select.add(opcion);
				}
			}
		});
	}

	function hiddenRegisterFood() {
		$("#modalRegisterFood").modal("hide");
	}

</script>