<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Ingresar ganado</title>
</head>

<body>
	<div class="modal fade" id="modalRegisterLivestock" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg1">
					<div class="row">
						<h3 class="titulo">Registrar ganado</h3>
					</div>
					<button type="button" class="close" onclick="hiddenRegisterMaterials()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="registerLivestock" method="post">
						<div class="form-group">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Nombre</label>
							<input type="text" class="form-control" id="idRegisterLivestockName" name="name"
								required="required" maxlength="90">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Tipo</label>
							<input type="text" class="form-control" id="idRegisterLivestockType" name="type"
								required="required" maxlength="90">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Madre</label>
							<select class="form-control selectRequerido" id="idRegisterLivestockMother" name="motherId"
								style="width: 100%;">
								<option value="">Selecciona una opción</option>
							</select>
						</div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script th:inline="javascript">

	$(document).on('submit', '#registerLivestock', function (e) {
		e.preventDefault();
		var data = $(this).serialize();
		var mensajeRespuesta = "";
		$.ajax({
			type: 'POST',
			url: '/livestock/' + 'agregar ',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.message;
			},
			error: function () {
				Swal.close();
			},
			complete: function (data) {
				Swal.close();
				Swal.fire({
					title: "¡Información!",
					text: mensajeRespuesta,
					icon: "warning",
					confirmButtonText: 'Aceptar',
					allowOutsideClick: () => false
				}).then((result) => {
					if (result.value) {
						$("#modalRegisterLivestock").modal('hide');
						$('#idTableLivestock').DataTable().clear().destroy();
						construirTablaGanado();
					}
				}
				);
			}
		});

		return false;
	});

	function loadLivestockMother() {
		var data;
		$.ajax({
			type: 'GET',
			url: '/livestock/' + 'obtenerTodos',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.msgRespuesta;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close(data);
				console.log(data)
				var select = document.getElementById("idRegisterLivestockMother");
				for (let i = 0; i < data.responseJSON.object.length; i++) {
					let opcion = document.createElement('option');
					opcion.value = data.responseJSON.object[i].livestockId;
					opcion.text = data.responseJSON.object[i].name;
					select.add(opcion);
				}
			}
		});
	}

	function hiddenRegisterMaterials() {
		$("#modalRegisterMaterials").modal("hide");
	}

</script>