<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
	<div class="modal fade" id="modalReportLivestock" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg1">
					<div class="row">
						<h3 class="titulo">Reporte tratamientos</h3>
					</div>
					<button type="button" class="close" onclick="hiddenReportLivestock()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="reportLivestock" method="post">
						<div class="form-group">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Fecha inicial</label>
							<input type="date" class="form-control" id="idHistoryLivestockDateInitial" name="date"
								required="required">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Fecha final</label>
							<input type="date" class="form-control" id="idHistoryLivestockDateLast" name="name"
								required="required">
						</div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script th:inline="javascript">

	$(document).on('submit', '#reportLivestock', function (e) {
		var initial = document.getElementById("idHistoryLivestockDateInitial").value;
		var final = document.getElementById("idHistoryLivestockDateLast").value;
		if (initial > final) {
			Swal.fire({
				title: "¡Información!",
				text: "La fecha inicial no puede ser mayor a la fecha final",
				icon: "warning",
				confirmButtonText: 'Aceptar',
				allowOutsideClick: () => false
			}).then((result) => {
				if (result.value) {
				}
			}
			);
			return false;
		}
		e.preventDefault();
		var data = $(this).serialize();
		var mensajeRespuesta = "";
		$.ajax({
			type: 'POST',
			url: '/report/' + 'treatment',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.message;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close();
				Swal.fire({
					title: "¡Información!",
					text: mensajeRespuesta,
					icon: "warning",
					confirmButtonText: 'Aceptar',
					allowOutsideClick: () => false
				}).then((result) => {
					if (result.value) {
						$("#modalReportLivestock").modal('hide');
					}
				}
				);
			}
		});

		return false;
	});


	function hiddenReportLivestock() {
		$("#modalReportLivestock").modal("hide");
	}

</script>