<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Livestock</title>

	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
	<link href="css/styles.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.datatable.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert2.css}">
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
	<link th:href="@{/css/resume.min.css}" rel="stylesheet">
	<link th:href="@{/css/select2.css}" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

</head>

<body id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">
			<span class="d-block d-lg-none">Clarence Taylor</span>
			<span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
					src="assets/img/profile.jpg" alt="..." /></span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
				class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Ganado">Ganado</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Medicamentos">Medicamentos</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Materiales">Materiales</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Alimentos">Alimentos</a></li>
			</ul>
		</div>
	</nav>
	<!-- Page Content-->
	<div class="container-fluid p-0">
		<!-- Ganado-->
		<section class="resume-section" id="Ganado">
			<div class="resume-section-content">
				<h2 class="mb-5">Ganado</h2>
			</div>
		</section>
		<hr class="m-0" />
		<!-- Medicamentos-->
		<section class="resume-section" id="Medicamentos">
			<div class="resume-section-content">
				<h2 class="mb-5">Medicamentos</h2>
				<div class="subheading mb-3">Medicinas</div>
				<button onclick="openRegisterMedicine()">Registrar medicina</button>
				<button onclick="openAddMedicine()">Adicionar medicina</button>
				<div class="float-right">
					<button onclick="generateHistoryMedicine()">Generar historial</button> </div>
				<p>
				<div class="table-responsive">
					<table id="idTableMedicine" class="table-striped" style="width: 180%">
						<thead>
							<tr class="color">
								<th style="width: 9%;" class="color-head">Nombre<br></th>
								<th style="width: 9%;" class="color-head">Ingrediente activo<br></th>
								<th style="width: 9%;" class="color-head">Fecha vencimiento<br></th>
								<th style="width: 9%;" class="color-head">Cantidad<br></th>
								<th style="width: 9%;" class="color-head">Unidad<br></th>
								<th style="width: 4%;" class="color-head">Acción</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<hr class="m-0" />
		<!-- Materiales-->
		<section class="resume-section" id="Materiales">
			<div class="resume-section-content">
				<h2 class="mb-5">Materiales</h2>
				<div class="subheading mb-3">Materiales y Herramientas</div>
				<button onclick="openRegisterMaterials()">Ingresar materiales</button>
				<div class="float-right">
					<button onclick="generateHistoryMaterials()">Generar historial</button> </div>
				<p>
				<div class="table-responsive">
					<table id="idTableMaterials" class="table-striped" style="width: 180%">
						<thead>
							<tr class="color">
								<th style="width: 9%;" class="color-head">Nombre<br></th>
								<th style="width: 9%;" class="color-head">Cantidad<br></th>
								<th style="width: 4%;" class="color-head">Acción</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<hr class="m-0" />
		<!-- Alimentos-->
		<section class="resume-section" id="Alimentos">
			<div class="resume-section-content">
				<h2 class="mb-5">Alimentos</h2>
				<div class="subheading mb-3">Alimentos</div>
				<button onclick="openRegisterFood()">Registrar alimentos</button>
				<button onclick="openAddFood()">Adicionar alimentos</button>
				<button onclick="openEditFood()">Editar alimentos</button>
				<div class="float-right">
					<button onclick="generateHistoryFood()">Generar historial</button> </div>
				<p>
				<div class="table-responsive">
					<table id="idTableFood" class="table-striped" style="width: 180%">
						<thead>
							<tr class="color">
								<th style="width: 9%;" class="color-head">Nombre<br></th>
								<th style="width: 9%;" class="color-head">Cantidad<br></th>
								<th style="width: 9%;" class="color-head">Lote<br></th>
								<th style="width: 9%;" class="color-head">Registro ICA<br></th>
								<th style="width: 9%;" class="color-head">Fecha vencimiento<br></th>
								<th style="width: 9%;" class="color-head">Nombre almacen<br></th>
								<th style="width: 4%;" class="color-head">Acción</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<hr class="m-0" />
	</div>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bundle.min.js}"></script>
	<!-- Plugin JavaScript -->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for this template -->
	<script th:src="@{/js/resume.min.js}"></script>
	<div th:include="medicine/registerMedicine.html"></div>
	<div th:include="medicine/addMedicine.html"></div>
	<div th:include="medicine/removeMedicine.html"></div>
	<div th:include="materials/registerMaterials.html"></div>
	<div th:include="materials/addMaterials.html"></div>
	<div th:include="materials/removeMaterials.html"></div>
	<div th:include="materials/historyMaterials.html"></div>
	<div th:include="food/registerFood.html"></div>
	<div th:include="food/addFood.html"></div>
	<div th:include="food/editFood.html"></div>
	<div th:include="food/sumarFood.html"></div>
	<div th:include="food/restarFood.html"></div>
</body>

</html>
<script th:inline="javascript">

	$(document).ready(function () {
		construirTablaMedicina();
		construirTablaMateriales();
		construirTablaComida();

		$.fn.modal.Constructor.prototype._enforceFocus = function () {};
		$('.selectRequerido').select2({
			language: {

				noResults: function () {

					return "No hay resultado";
				},
				searching: function () {

					return "Buscando..";
				}
			}
		});
	});

	//Medicine
	function construirTablaMedicina() {
		var data;
		$.ajax({
			type: 'GET',
			url: '/medicine/' + 'getAllInventoryMedicines/',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.msgRespuesta;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close();
				loadMedicines(data.responseJSON);
			}
		});
	}

	function loadMedicines(data) {
		contenido = "";
		for (var i = 0; i < data.object.length; i++) {
			contenido += '<tr>';
			contenido += '<td>' + data.object[i].name + '</td>';
			contenido += '<td>' + data.object[i].activeIngredient + '</td>';
			contenido += '<td>' + data.object[i].expirationDate + '</td>';
			contenido += '<td>' + data.object[i].amount + '</td>';
			contenido += '<td>' + data.object[i].measurementUnit + '</td>';
			contenido += '<td class="text-center"><button type="button" id="btnRemoveMedicine" onclick="""><i class="fas fa-minus-circle"></i></button>'
				+ '<button type="button" id="btnDeleteMedicine" onclick=""><i class="fas fa-trash"></i></button></td>';
			contenido += '</tr>';
		}

		$("#idTableMedicine").append(contenido)
		tablaMedicineGrafica();
	}

	function tablaMedicineGrafica() {
		$('#idTableMedicine  thead th').each(function () {
			var title = $(this).text();
			if (title !== "Acción") {
				$(this).html('<div class="form-group" id="centrado2">' + '<label for="th" class="blanco">' + title + '</label>' + '<div class="centrado">' + '<input class="form-control filter" id="cssInputFiltro" type="text"  placeholder="Filtrar ' + title + '" />' + '</div>' + '</div>');
			}
		});

		var tablaAsig = $('#idTableMedicine').DataTable({
			"orderCellsTop": true,
			"order": [0, 'desc'],
			"processing": true,
			"ordering": true,
			"language": {
				"info": '<div class="formato">_END_ de _TOTAL_ registros</div>',
				"infoEmpty": '<div class="formato">0 de 0.</div>',
				"infoFiltered": "(filtrados de un total de _MAX_ registros)",
				"zeroRecords": "No se han encontrado coincidencias.",
				"responsive": true,
				"lengthMenu": "_MENU_",
			},
			"lengthMenu": [5, 10, 20, 50, 100],
			"pageLength": 5,
			"pagingType": "full_numbers",
			"dom": "<'row'<'col-sm-5 col-md-7'>>" +
				"<'row'<'col-sm-8 col-md-7'tr>>" +
				"<'row'<'col-sm-8 col-md-7'><'col-sm-2 col-md-1'l><'col-sm-1 col-md-1'i><'col-sm-1 col-md-3'p>>",

		});
		tablaAsig.columns().every(function () {
			var that = this;

			$('input', this.header()).on('keyup change clear', function () {
				if (that.search() !== this.value) {
					that
						.search(this.value)
						.draw();
				}
			});
		});

		$('.filter').on('click', function (e) {
			e.stopPropagation();
		});
	}

	function openRegisterMedicine() {
		$('#idRegisterMedicineName').val("");
		$('#idRegisterMedicineGroup').val("");
		$('#idRegisterMedicineTantamount').val("");
		$('#idRegisterMedicineActiveIngredient').val("");
		$('#idRegisterMedicineCodeICA').val("");
		$('#idRegisterMedicineMeasurementUnit').val("");
		$("#modalRegisterMedicine").modal("show");
	}

	function openAddMedicine() {
		$("#modalAddMedicine").modal("show");
		$("#idAddMedicineSelect").empty();
		var select = document.getElementById("idAddMedicineSelect");
		let opcion = document.createElement('option');
		opcion.value = -1;
		opcion.text = "Selecciona una opción";
		select.add(opcion);
		loadMedicine();
	}

	function getAllMedicines() {
		var data;
		$.ajax({
			type: 'GET',
			url: '/medicine/' + 'getAllMedicines/',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.msgRespuesta;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close();
				//console.log(data)
			}
		});
	}

	//END Medicine

	//Materials

	function construirTablaMateriales() {
		var data;
		$.ajax({
			type: 'GET',
			url: '/materials/' + 'getAllMaterials/',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.msgRespuesta;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close();
				cargarMateriales(data.responseJSON);
			}
		});
	}

	function openRegisterMaterials() {
		$('#idRegisterMaterialsName').val("");
		$('#idRegisterMaterialsAmount').val("");
		$("#modalRegisterMaterials").modal("show");
	}

	function generateHistoryMaterials() {
		//$('#idRegisterMaterialsName').val("");
		//$('#idRegisterMaterialsAmount').val("");
		$("#modalHistoryMaterials").modal("show");
	}

	function cargarMateriales(data) {
		contenido = "";
		for (var i = 0; i < data.object.length; i++) {
			contenido += '<tr>';
			contenido += '<td>' + data.object[i].name + '</td>';
			contenido += '<td>' + data.object[i].amount + '</td>';
			contenido += '<td class="text-center"><button type="button" id="btnAddMaterials" onclick="openAddMaterials(' + data.object[i].inventoryMaterialsId + ', \'' + data.object[i].name + '\')"><i class="fas fa-plus-circle"></i></button>'
				+ '<button type="button" id="btnRemoveMaterials" onclick="openRemoveMaterials(' + data.object[i].inventoryMaterialsId + ', \'' + data.object[i].name + '\')"><i class="fas fa-minus-circle"></i></button>'
				+ '<button type="button" id="btnDeleteMaterials" onclick="deleteMaterials(' + data.object[i].inventoryMaterialsId + ')"><i class="fas fa-trash"></i></button></td>';
			contenido += '</tr>';
		}
		$("#idTableMaterials").append(contenido)
		tablaMaterialesGrafica();
	}

	function tablaMaterialesGrafica() {
		$('#idTableMaterials  thead th').each(function () {
			var title = $(this).text();
			if (title !== "Acción") {
				$(this).html('<div class="form-group" id="centrado2">' + '<label for="th" class="blanco">' + title + '</label>' + '<div class="centrado">' + '<input class="form-control filter" id="cssInputFiltro" type="text"  placeholder="Filtrar ' + title + '" />' + '</div>' + '</div>');
			}
		});

		var tablaAsig = $('#idTableMaterials').DataTable({
			"orderCellsTop": true,
			"order": [0, 'desc'],
			"processing": true,
			"ordering": true,
			"language": {
				"info": '<div class="formato">_END_ de _TOTAL_ registros</div>',
				"infoEmpty": '<div class="formato">0 de 0.</div>',
				"infoFiltered": "(filtrados de un total de _MAX_ registros)",
				"zeroRecords": "No se han encontrado coincidencias.",
				"responsive": true,
				"lengthMenu": "_MENU_",
			},
			"lengthMenu": [5, 10, 20, 50, 100],
			"pageLength": 5,
			"pagingType": "full_numbers",
			"dom": "<'row'<'col-sm-5 col-md-7'>>" +
				"<'row'<'col-sm-8 col-md-7'tr>>" +
				"<'row'<'col-sm-8 col-md-7'><'col-sm-2 col-md-1'l><'col-sm-1 col-md-1'i><'col-sm-1 col-md-3'p>>",

		});
		tablaAsig.columns().every(function () {
			var that = this;

			$('input', this.header()).on('keyup change clear', function () {
				if (that.search() !== this.value) {
					that
						.search(this.value)
						.draw();
				}
			});
		});

		$('.filter').on('click', function (e) {
			e.stopPropagation();
		});
	}

	function openAddMaterials(id, name) {
		$('#idAddMaterialsId').val(id);
		$('#idAddMaterialsName').val(name);
		$('#idAddMaterialsAmount').val("");
		$('#idAddMaterialsObservation').val("");
		$("#modalAddMaterials").modal("show");
	}

	function openRemoveMaterials(id, name) {
		$('#idRemoveMaterialsId').val(id);
		$('#idRemoveMaterialsName').val(name);
		$('#idRemoveMaterialsAmount').val("");
		$('#idRemoveMaterialsObservation').val("");
		$("#modalRemoveMaterials").modal("show");
	}

	function deleteMaterials(id) {
		Swal.fire({
			title: 'Esta seguro?',
			text: "Esta seguro de que desea eliminar el material?",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			cancelButtonText: 'Cancelar',
			confirmButtonText: 'Si, eliminar material!'
		}).then((result) => {
			if (result.value) {
				openDeleteMaterials(id);
			}
		})
	}

	function openDeleteMaterials(id) {
		var data = $(this).serialize();
		var mensajeRespuesta = "";
		$.ajax({
			type: 'GET',
			url: '/materials/' + 'deleteMaterials/' + id,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.message;
			},
			error: function () {
				Swal.close();
			},
			complete: function (data) {
				Swal.close();
				Swal.fire({
					title: "¡Información!",
					text: mensajeRespuesta,
					icon: "warning",
					confirmButtonText: 'Aceptar',
					allowOutsideClick: () => false
				}).then((result) => {
					if (result.value) {
						$('#idTableMaterials').DataTable().clear().destroy();
						construirTablaMateriales();
					}
				}
				);
			}
		});

		return false;
	}

	//END Materials

	//Food

	function construirTablaComida() {
		var data;
		$.ajax({
			type: 'GET',
			url: '/food/' + 'getAllFood',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.msgRespuesta;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close();
				cargarComida(data.responseJSON);
			}
		});
	}

	function cargarComida(data) {
		contenido = "";
		for (var i = 0; i < data.object.length; i++) {
			contenido += '<tr>';
			contenido += '<td>' + data.object[i].name + '</td>';
			contenido += '<td>' + data.object[i].cantidad + '</td>';
			contenido += '<td>' + data.object[i].lote + '</td>';
			contenido += '<td>' + data.object[i].registroIca + '</td>';
			contenido += '<td>' + data.object[i].fechaVencimiento + '</td>';
			contenido += '<td>' + data.object[i].nombreAlmacen + '</td>';
			contenido += '<td class="text-center"><button type="button" id="btnAddMaterials" onclick="openSumarFood(' + data.object[i].inventoryFoodId + ', \'' + data.object[i].name + '\')"><i class="fas fa-plus-circle"></i></button>'
				+ '<button type="button" id="btnRemoveMaterials" onclick="openRemoveFood(' + data.object[i].inventoryFoodId + ', \'' + data.object[i].name + '\')"><i class="fas fa-minus-circle"></i></button>'
				+ '<button type="button" id="btnDeleteMaterials" onclick="deleteFood(' + data.object[i].inventoryFoodId + ')"><i class="fas fa-trash"></i></button></td>';
			contenido += '</tr>';
		}
		$("#idTableFood").append(contenido)
		tablaComidaGrafica();
	}

	function tablaComidaGrafica() {
		$('#idTableFood  thead th').each(function () {
			var title = $(this).text();
			if (title !== "Acción") {
				$(this).html('<div class="form-group" id="centrado2">' + '<label for="th" class="blanco">' + title + '</label>' + '<div class="centrado">' + '<input class="form-control filter" id="cssInputFiltro" type="text"  placeholder="Filtrar ' + title + '" />' + '</div>' + '</div>');
			}
		});

		var tablaAsig = $('#idTableFood').DataTable({
			"orderCellsTop": true,
			"order": [0, 'desc'],
			"processing": true,
			"ordering": true,
			"language": {
				"info": '<div class="formato">_END_ de _TOTAL_ registros</div>',
				"infoEmpty": '<div class="formato">0 de 0.</div>',
				"infoFiltered": "(filtrados de un total de _MAX_ registros)",
				"zeroRecords": "No se han encontrado coincidencias.",
				"responsive": true,
				"lengthMenu": "_MENU_",
			},
			"lengthMenu": [5, 10, 20, 50, 100],
			"pageLength": 5,
			"pagingType": "full_numbers",
			"dom": "<'row'<'col-sm-5 col-md-7'>>" +
				"<'row'<'col-sm-8 col-md-7'tr>>" +
				"<'row'<'col-sm-8 col-md-7'><'col-sm-2 col-md-1'l><'col-sm-1 col-md-1'i><'col-sm-1 col-md-3'p>>",

		});
		tablaAsig.columns().every(function () {
			var that = this;

			$('input', this.header()).on('keyup change clear', function () {
				if (that.search() !== this.value) {
					that
						.search(this.value)
						.draw();
				}
			});
		});

		$('.filter').on('click', function (e) {
			e.stopPropagation();
		});
	}

	function openRegisterFood() {
		$('#nameRegisterFood').val("");
		$("#modalRegisterFood").modal("show");
	}

	function openAddFood() {
		$('#idAddFoodAmount').val("");
		$('#idAddFoodLot').val("");
		$('#idAddFoodCodeICA').val("");
		$('#idAddFoodExpiredDate').val("");
		$('#idAddFoodNameWarehouse').val("");
		$('#idAddFoodObservation').val("");
		$("#idAddFoodSelect").empty();
		var select = document.getElementById("idAddFoodSelect");
		let opcion = document.createElement('option');
		opcion.value = -1;
		opcion.text = "Selecciona una opción";
		select.add(opcion);
		loadAddFood();
		$("#modalAddFood").modal("show");
	}
	
	function openEditFood(){
		$('#idAddFoodAmount').val("");
		var select = document.getElementById("idAddFoodSelect");
		let opcion = document.createElement('option');
		opcion.value = -1;
		opcion.text = "Selecciona una opción";
		select.add(opcion);
		loadEditFood();
		$("#modalEditFood").modal("show");
	}

	function openSumarFood(inventoryFoodId, name) {
		$('#idSumarFoodId').val(inventoryFoodId);
		$('#idSumarFoodName').val(name);
		$("#modalSumarFood").modal("show");
	}

	function openRemoveFood(inventoryFoodId, name) {
		$('#idRemoveFoodId').val(inventoryFoodId);
		$('#idRemoveFoodName').val(name);
		$("#modalRemoveFood").modal("show");
	}

	function deleteFood(id) {
		Swal.fire({
			title: 'Esta seguro?',
			text: "Esta seguro de que desea eliminar el alimento?",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			cancelButtonText: 'Cancelar',
			confirmButtonText: 'Si, eliminar alimento!'
		}).then((result) => {
			if (result.value) {
				openDeleteFood(id);
			}
		})
	}

	function openDeleteFood(id) {
		var data = $(this).serialize();
		var mensajeRespuesta = "";
		$.ajax({
			type: 'GET',
			url: '/food/' + 'deleteInventory/' + id,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.message;
			},
			error: function () {
				Swal.close();
			},
			complete: function (data) {
				Swal.close();
				Swal.fire({
					title: "¡Información!",
					text: mensajeRespuesta,
					icon: "warning",
					confirmButtonText: 'Aceptar',
					allowOutsideClick: () => false
				}).then((result) => {
					if (result.value) {
						$('#idTableFood').DataTable().clear().destroy();
						construirTablaComida();
					}
				}
				);
			}
		});

		return false;
	}


	//END Food


</script>