<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
	<div class="modal fade" id="modalReportFood" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg1">
					<div class="row">
						<h3 class="titulo">Reporte alimentos</h3>
					</div>
					<button type="button" class="close" onclick="hiddenReportFood()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="reportFood" method="post">
						<div class="form-group">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Fecha inicial</label>
							<input type="date" class="form-control" id="" name="" required="required"
								maxlength="5">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Fecha final</label>
							<input type="date" class="form-control" id="" name="" required="required"
								maxlength="5">
						</div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script th:inline="javascript">

	$(document).on('submit', '#addMaterials', function (e) {
		e.preventDefault();
		var data = $(this).serialize();
		var mensajeRespuesta = "";
		$.ajax({
			type: 'POST',
			url: '/materials/' + 'addMaterials ',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.message;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close();
				Swal.fire({
					title: "¡Información!",
					text: mensajeRespuesta,
					icon: "warning",
					confirmButtonText: 'Aceptar',
					allowOutsideClick: () => false
				}).then((result) => {
					if (result.value) {
						$("#modalAddMaterials").modal('hide');
						$('#idTableMaterials').DataTable().clear().destroy();
						construirTablaMateriales();
					}
				}
				);
			}
		});

		return false;
	});


	function hiddenReportFood() {
		$("#modalReportFood").modal("hide");
	}

</script>