<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Remover medicina</title>
</head>

<body>
	<div class="modal fade" id="modalRemoveMedicine" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg1">
					<div class="row">
						<h3 class="titulo">Retirar medicina</h3>
					</div>
					<button type="button" class="close" onclick="hiddenRemoveMedicine()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="removeMedicine" method="post">
						<div class="form-group">
						</div>
						<div class="form-group">
							<input type="hidden" class="form-control" id="idRemoveMedicineId"
								name="inventoryMedicineId" required="required" readonly maxlength="90">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Nombre</label>
							<input type="text" class="form-control" id="idRemoveMedicineName" name="name"
								required="required" maxlength="90">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Cantidad</label>
							<input type="text" class="form-control" id="idRemoveMedicineAmount" name="amount"
								required="required" maxlength="90">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Observación</label>
							<input type="text" class="form-control" id="idRemoveMedicineObservation" name="observation"
								maxlength="90">
						</div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script th:inline="javascript">
	$(document).on('submit', '#removeMedicine', function (e) {
		e.preventDefault();
		var data = $(this).serialize();
		var mensajeRespuesta = "";
		$.ajax({
			type: 'POST',
			url: '/medicine/' + 'removeMedicines ',
			data: data,
			beforeSend: function () {
				Swal.fire({
					title: 'Cargando...',
					position: 'top',
					allowOutsideClick: () => !Swal.isLoading(),
					onBeforeOpen: () => {
						Swal.showLoading();
					}
				});
			},
			success: function (data) {
				Swal.close();
				mensajeRespuesta = data.message;
			},
			error:
				function () {
					Swal.close();
				},
			complete: function (data) {
				Swal.close();
				Swal.fire({
					title: "¡Información!",
					text: mensajeRespuesta,
					icon: "warning",
					confirmButtonText: 'Aceptar',
					allowOutsideClick: () => false
				}).then((result) => {
					if (result.value) {
						$("#modalRemoveMedicine").modal('hide');
						$('#idTableMedicine').DataTable().clear().destroy();
						construirTablaMedicina();
					}
				}
				);
			}
		});

		return false;
	});


	function hiddenRemoveMedicine() {
		$("#modalRemoveMedicine").modal("hide");
	}
</script>